.navbar-container {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar-element {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    font-size: 1.5vw;
    transition: all 0.3s ease;
    color: rgb(255, 178, 63);
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0px 0px 10px orange;
}
.navbar-element:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.navbar-dropdown-container {
    margin-top: 5%;
    width: 70%;
    padding: 2% 3%;
    background-color: #222;
    border-radius: 15px;
    color: white;
    text-shadow: none;
    font-size: 1.2vw;
}
.navbar-dropdown-container ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}